{
    "bracketSameLine": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "experimentalTernaries": true,
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": false
}