@page "/notification-center"

@using NotionNotifications.Domain.Dtos
@using System.Text.Json

@inject IJSRuntime JSRuntime
@inject PwaSubscriptionsClient Client

<h3>NotificationCenter</h3>


<input type="text" @bind="@notificationTitle" placeholder="Título da notificação..." />
<br />
<textarea placeholder="Text to test the notification..." @bind="@notificationText"></textarea>
<br />

<button @onclick="SendNotification">Enviar notificação</button>

@code {
    string notificationTitle = string.Empty;
    string notificationText = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var subscription = await JSRuntime.InvokeAsync<WebPushNotificationSubscriptionDto>("blazorPushNotifications.requestSubscription");
            await Client.Subscribe(subscription);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    async Task SendNotification()
    {
        if (string.IsNullOrWhiteSpace(notificationTitle)
        || string.IsNullOrWhiteSpace(notificationText))
            return;

        await Client.SendTestNotification(new() { Message = notificationText, Title = notificationTitle });
    }
}
